# Sekrety i konfiguracja lokalna
.env
backend/.env

# Python - pliki generowane automatycznie
__pycache__/
*.pyc

# Środowiska wirtualne
.venv/
venv/
backend/.venv/
backend/venv/

# Edytory
.idea/
.vscode/

# Lokalne bazy danych
*.db

# Flutter / Dart
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/pubspec.lock

# IDE
frontend/.idea/
frontend/*.iml

# Windows
Thumbs.db